<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>

    
    <!-- Include your CSS and JavaScript libraries here -->
</head>
<body>

<nav>
    <ul>
     
        <!-- Add more navigation links as needed -->
    </ul>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Include your JavaScript scripts here -->

</body>
</html>
